@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@700&display=swap");

::-webkit-scrollbar {
    display: none;
}

* {
    padding: 0;
    margin: 0;
    scrollbar-width: none;
    -ms-overflow-style: none;

    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.dark {
    background: #333;
    color: #fff;

    .outer-main {
        .github {
            background-image: url(./icons/github-dark.png);
        }

        .gitlab {
            background-image: url(./icons/gitlab-dark.png);
        }

        .mail {
            background-image: url(./icons/email-dark.png);
        }
    }

    .start {
        background: #333;
    }

    .projects {
        background: #444;

        .repo {
            background: #555;
            color: #ddd;
        }
        a {
            text-decoration: none;
            color: #cfb278;
        }
    }
}

.light {
    background: #eee;
    color: #333;

    .outer-main {
        .github {
            background-image: url(./icons/github-light.png);
        }

        .gitlab {
            background-image: url(./icons/gitlab-light.png);
        }

        .mail {
            background-image: url(./icons/email-light.png);
        }
    }

    .start {
        background: #fff;
    }

    .projects {
        background: #eee;

        a {
            text-decoration: none;
            color: #cfb278;
        }
    }
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    scrollbar-width: none;

    a {
        text-decoration: none;
    }

    .start {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        transition: background 0.5s ease;
    }

    .projects {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        transition: background 0.5s ease;
    }
}

#typing {
    display: flex;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    h1 {
        display: flex;
        justify-content: center;
        padding: 10px 0;
    }
    span {
        margin-left: 2px;
        border-right: 0.05em solid #cddaf1;
        animation: caret 1s steps(1) infinite;
    }
}

@keyframes caret {
    50% {
        border-color: transparent;
    }
}

.outer-main {
    border-radius: 12px;
    border: 3px solid gray;
    display: flexbox;
    padding: 24px;
    width: 350px;
    height: 200px;
    margin: 16px 0;

    .image {
        height: 96px;
        width: 96px;
        border-radius: 48px;
        margin-bottom: 12px;
    }

    .name {
        font-size: x-large;
        margin-bottom: 12px;
    }
}

#desc {
    margin: 12px;
    font-size: x-large;
    font-family: "Prompt", sans-serif;
}

#slider {
    display: flex;
    flex-direction: row;
    transition: all 0.5s ease-in-out;
    width: 600px;
    overflow-x: scroll;
    word-break: keep-all;
    scrollbar-width: none;

    #holder {
        display: flex;
        flex-direction: row;
        scrollbar-width: none;
        transition: all ease-in-out;
    }

    .repo {
        margin: 12px;
        display: flexbox;
        justify-content: center;
        height: 150px;
        width: 300px;
        padding: 12px;
        border-radius: 12px;
        border: 3px solid #999;
        box-shadow: 0 2px 10px rgba($color: #000000, $alpha: 0.5);
        transform: scale(1);

        h3 {
            margin-bottom: 12px;
        }

        p .description {
            margin-top: 12px;
            font-size: larger;
        }
    }

    .repo:hover {
        transform: scale(1.02);
    }
}

@media screen and (max-width: 767px) {
    .outer-main {
        width: 275px;
    }

    #slider {
        width: 300px;

        .repo {
            width: 250px;
        }
    }
}
